$colour1: #3b2f2f;
$colour2: #f8f8f8;
$colour3: #128482;
$colour4: #d0491e;

$unit: 10px;

* {
  margin: 0;
}

body {
  background-color: $colour2;
  min-height: 100vh;
}

.container {
  height: 310px;
  margin-left: 50%;
  margin-top: 70px;
  transform: translateX(-50%);
  width: 600px;
  .row {
    height: $unit;
    display: flex;
    margin: calc($unit / 2) 0;
    .pill {
      background-color: $colour1;
      border-radius: calc($unit / 2);
      height: 100%;
      margin: 0 calc($unit / 2);
    }
    .width-20 {
      width: $unit;
    }
    .width-30 {
      width: calc($unit * 2);
    }
    .width-40 {
      width: calc($unit * 3);
    }
    .width-50 {
      width: calc($unit * 4);
    }
    .width-60 {
      width: calc($unit * 5);
    }
    .width-70 {
      width: calc($unit * 6);
    }
    .width-80 {
      width: calc($unit * 7);
    }
    .width-90 {
      width: calc($unit * 8);
    }
    .width-100 {
      width: calc($unit * 9);
    }
    .width-110 {
      width: calc($unit * 10);
    }
    .width-120 {
      width: calc($unit * 11);
    }
    .width-130 {
      width: calc($unit * 12);
    }
    .width-140 {
      width: calc($unit * 13);
    }
    .width-150 {
      width: calc($unit * 14);
    }
    .width-160 {
      width: calc($unit * 15);
    }
    .width-170 {
      width: calc($unit * 16);
    }
    .width-180 {
      width: calc($unit * 17);
    }
    .width-190 {
      width: calc($unit * 18);
    }
    .width-200 {
      width: calc($unit * 19);
    }
    .width-210 {
      width: calc($unit * 20);
    }
    .width-220 {
      width: calc($unit * 21);
    }
    .width-230 {
      width: calc($unit * 22);
    }
    .width-240 {
      width: calc($unit * 23);
    }
    .width-250 {
      width: calc($unit * 24);
    }
    .width-260 {
      width: calc($unit * 25);
    }
    .width-270 {
      width: calc($unit * 26);
    }
    .width-280 {
      width: calc($unit * 27);
    }
    .trans {
      background-color: rgba($color: $colour2, $alpha: 0);
    }
    .green {
      background-color: $colour3;
    }
    .red {
      background-color: $colour4;
    }
  }
}
.container:hover {
  background-color: rgba($color: red, $alpha: 0.42);
}
